.navaddf{
    display: flex;
    width: 100%;
  
  }

.add-f-Container{
    flex: 4;
}
.addf-form-Container{
    margin: 20px;
}
.addf-form-Container p{
    margin-left: 50px;
}


.addf-form-Container select{
    width: 300px;
    height: 40px;
    border-radius: 6px;
    margin-left: 40px;
    
}
.addf-form-Container label{
    margin-left: 40px;
}
.addf-form-Container input{
    border: solid 0.5px black;
    border-radius: 6px;
    width: 300px;
    height: 40px;
   background-color: white;
}
/* table left side design */
.s-origin{
   position: relative;
   left: 10px;
}
.s-airline{
    position: relative;
    left: 7px;
}
.i-adultfare-label{
    position: relative;
    right: 15px;
}
.i-adultfare{
    position: relative;
    left: 15px;
}
.i-infantfare-label{
    position: relative;
    right: 20px;
}
.i-infantfare{
    position: relative;
    left: 12px;
}
.fare-valid-from-label{
    margin-right: -60px;
    position: relative;
    right: 40px;
    
}
.fare-valid-from{
    position: relative;
    right: 5px;
}
.stop1{
    position: relative;
    left: 5px;
}

/* table right side design */
.s-destination{
    margin-right: -30px;
    
}
.s-airline-c{
    margin-right: -40px;
    position: relative;
    right: 13px;
}
.i-childfare{
    position: relative;
    left: 55px;
}
.i-flightduration-label{
    position: relative;
    right: 20px;
}
.i-flightduration{
    position: relative;
    left: 20px;
}
.fare-valid-till-label{
    position: relative;
    right: 15px;
}
.fare-valid-till{
    position: relative;
    right: 27px;
}
.stop2-label{
    position: relative;
    left: 27px;
}
.stop2{
    position: relative;
    left: 35px;
}

.airline-logo-lable{
position: relative;
left: 50px;
}
.i-airline-logo{
    position: relative;
    left: 85px;
}


.add-flight-btn{
    position: relative;
    top: 20px;
    left: 140px;
    height: 40px;
    width: 100px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 600;
}
.add-flight-btn:hover{
 outline-color: aqua;
}
.i-flightstop{
    position: relative;
    left: 60px;
}